@model BookStore.Models.User



<!DOCTYPE html>
<html>
    <head>

    <link rel="stylesheet" href="/css/Password.css">

    </head>


    <body>


<div class="form-container">
@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}


<form asp-controller="Customer" asp-action="UpdatePassword" method="post">
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control" required />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Old Password</label>
        <input asp-for="Password" type="password" class="form-control" required />
        <div class="input-group-append">
            <div class="input-group-text" style="background-color: transparent; border: none;">
                <input type="checkbox" id="showOldPassword"> <span style="margin-left: 5px;">Show</span>
            </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        <div class="input-group-append">
            <div class="input-group-text" style="background-color: transparent; border: none;">
                <input type="checkbox" id="showNewPassword"> <span style="margin-left: 5px;">Show</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
        <div class="input-group-append">
            <div class="input-group-text" style="background-color: transparent; border: none;">
                <input type="checkbox" id="showConfirmPassword"> <span style="margin-left: 5px;">Show</span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
    <a href="/Customer/CustomerAuth" class="btn btn-secondary btn-block">Go Back to Login</a>
</form>

</div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {


        $('#showOldPassword').click(function () {
            var oldPasswordField = $('#Password');
            var oldPasswordFieldType = oldPasswordField.attr('type');
            if (oldPasswordFieldType == 'password') {
                oldPasswordField.attr('type', 'text');
            } else {
                oldPasswordField.attr('type', 'password');
            }
        });

        $('#showNewPassword').click(function () {
            var newPasswordField = $('#newPassword');
            var newPasswordFieldType = newPasswordField.attr('type');
            if (newPasswordFieldType == 'password') {
                newPasswordField.attr('type', 'text');
            } else {
                newPasswordField.attr('type', 'password');
            }
        });

            
            $('#showConfirmPassword').click(function () {
                var confirmPasswordField = $('#confirmPassword');
                var confirmPasswordFieldType = confirmPasswordField.attr('type');
                if (confirmPasswordFieldType == 'password') {
                    confirmPasswordField.attr('type', 'text');
                } else {
                    confirmPasswordField.attr('type', 'password');
                }
            });
        });
    </script>


</body>
 </html>