<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/about.css">

    
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="fadeIn">
        <p>
           OUR BOOK STORE
        </p>

        <p>
            Welcome to Our Bookstore! We are dedicated to providing you with a wide selection of books, catering to various interests and genres.
            Whether you're an avid reader or just starting your reading journey, we have something for everyone.
            Our goal is to foster a love for reading and learning within our community. Explore our collection and embark on new literary adventures!
        </p>

    </div>
    <div class="social-icons">
            <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a> <!-- Font Awesome Facebook icon -->
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> <!-- Font Awesome Instagram icon -->
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a> <!-- Font Awesome Twitter icon -->
        </div>
    <div class="contact">
        <h2>Contact Us: 0512976543</h2>
        <p>If you have any questions or inquiries, feel free to contact us:</p>
        <p>Email: <a href="mailto:info@ourbookstore.com">info@ourbookstore.com</a></p>
    </div>

    
</body>
</html>
