/* auth.css */

/* Background styles */
body {
    background-image: url('pexels-minan1398-683402.jpg'); 
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Ensure the background image doesn't scroll */
    height: 120vh; /* Set full height */
    margin: 0; /* Remove default margin */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

    /* Blurry overlay */
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(10px); 
    }

/* Container styles */
.container {
    position: relative; /* Set position to relative */
    z-index: 1; /* Set z-index to ensure it's on top of the background */
    max-width: 500px;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4); 
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #212529;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;

}

.form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px;
}

/* Button styles */
.btn-primary {
    border-radius: 8px;
    padding: 10px 20px;
    background-color: darkcyan;
    border: thick;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }



.input-group-text {
    background-color: transparent;
    border: none;
}
